[2015-02-16 21:34] joshuavial opened #1 "[Dhara] phase 1 cs review"
preferrably on Wed evening.

[2015-02-16 21:35] joshuavial opened #2 "[Geordi] phase 1 rb review"

[2015-02-16 21:36] joshuavial opened #3 "[Ash] phase 1 cs review"
Ideally on thurs evening

[2015-02-16 21:37] joshuavial opened #4 "[Louis] review of javascript racer"

[2015-02-16 21:40] joshuavial opened #5 "[Vini] capybara for personal project"
Vini wants to go through the basics of capybara for testing controllers.

[2015-02-17 09:18] dharapanda123 opened #6 "[Dhara] Phase0 javascript basics"

[2015-02-17 09:19] dharapanda123 opened #7 "[Dhara]phase1 recursion/regex"
test driven development
Monday-24thfeb
evening 6-8

[2015-02-17 20:35] joshuavial opened #8 "[dan] session revision"
general overview and revision of sessions

[2015-02-17 20:36] joshuavial opened #9 "[jesse] moq"

[2015-02-17 20:36] joshuavial opened #10 "[mitch] changing css for MVC project"

[2015-02-17 20:38] joshuavial opened #11 "[vini] basics of css"

[2015-02-17 21:04] data-doge opened #12 "add picture of me"

[2015-02-17 22:54] #4 closed, assigned to joshuavial

[2015-02-18 00:59] #12 closed, assigned to data-doge

[2015-02-18 03:21] danmorrisonNZ opened #13 "[Dan] Ajax overview"
Would like to learn more about Ajax and how it works with ruby/sinatra

[2015-02-18 03:23] kerwinkerwin opened #14 "[kerwin] Javascript event handlers / Dom"

[2015-02-18 06:54] #5 closed, assigned to joshuavial

[2015-02-18 06:54] #11 closed, assigned to data-doge

[2015-02-18 08:38] #8 closed, assigned to joshuavial

[2015-02-19 00:49] dharapanda123 opened #15 "[dhara] csv,mvc"
Tuesday-25 th feb,eve 6-8

[2015-02-19 01:23] darcythomas opened #16 "[darcy] Project orleans"

[2015-02-19 21:06] #1 closed, assigned to fractalcactus

[2015-02-19 21:06] #2 closed, assigned to genevievebelle

[2015-02-20 14:15] eedrah opened #17 "[Jesse] ASP MVC (framework) flow"
How things are connected together in the MVC framework

[2015-02-22 06:13] eedrah opened #18 "[Jesse] How to use JS and CSS in Visual Studio"

[2015-02-22 23:07] eedrah opened #19 "[Jesse] Testing MVC in Visual Studio"
Testing MVC in Visual Studio

[2015-02-22 23:32] Mitchell-McEwen opened #20 "[Mitch] Check database connection(s) for this week's personal project"

[2015-02-23 02:56] Tojarra opened #21 "[Louis] ruby APIS"
describe "coaching" do

it *should cover testing" do
 include Ruby, Javascript, JSON
end

it "should cover 1st submitted personal project" do
include notes on what i missed and what i did wrong
end

end

[2015-02-23 04:57] euglazer opened #22 "[Louis] Ajax, DOM manipulation with javascript"

[2015-02-23 09:41] Mitchell-McEwen opened #23 "[Mitch] Ajax/JSON APIs"

[2015-02-23 21:25] Widdershin commented on #23
I can help with this if you'd like, Wednesday or Thursday night this week.

[2015-02-23 21:39] astro8891 commented on #3
@dan @darcy Is this available to be scheduled for Wednesday or Thursday night?

[2015-02-23 21:54] danalexilewis commented on #9
i have covered Dependancy  injection with jessee, micth and phil. looking to cover mocking this week

[2015-02-24 20:17] rohithyeluri commented on #10
@Rohith Yeluri

[2015-02-25 17:50] danalexilewis commented on #3
looks like we have regan scheduled to come in on thursday

[2015-02-25 17:52] danalexilewis commented on #18
jesse - did i cover this when i showed you how to use vs without a C# project?

[2015-02-25 17:54] danalexilewis commented on #20
ok - i know this is late. Did we get this sorted?

[2015-02-25 17:57] danalexilewis commented on #7
I combined the other ticket with this one. heres a list of what i ithink you are asking to go over. is it about right?
1. MVC
2. Regex and how to use in c#
3. CSV files and how to use them
4. Recursion

[2015-02-25 17:57] #15 closed

[2015-02-25 17:58] danalexilewis commented on #10
Hey guys - this is what we covered in that meeting last week on bundler right? are there any more questians around it?

[2015-02-25 18:02] danalexilewis commented on #19
Are you after a p guideline for what to test in an ASP.Net project?

[2015-02-25 18:04] danalexilewis commented on #23
I will checkin with mitch and phil today

[2015-02-25 23:15] eedrah commented on #10
Done for me
On 26/02/2015 6:58 AM, "Daniel Lewis" notifications@github.com wrote:

[2015-02-25 23:16] eedrah commented on #18
Cheers, yep
On 26/02/2015 6:52 AM, "Daniel Lewis" notifications@github.com wrote:

[2015-02-27 00:06] joshuavial commented on #13
@danmorrisonNZ @eedrah @tojarra when would you like to do this?

[2015-02-27 00:15] joshuavial commented on #14
@kerwinkerwin @tojarra when would you like to do this?

[2015-02-27 01:57] #23 closed

[2015-02-27 01:58] danalexilewis opened #24 "Phill: Going over Ajax and json some time this week"

[2015-02-27 01:59] #10 closed

[2015-02-27 02:01] danalexilewis commented on #20
issue elevated to dev waffle board

[2015-02-27 02:01] #20 closed

[2015-02-27 02:20] danalexilewis commented on #3
touched base with ash - he said the session went well

[2015-02-27 02:20] #3 closed

[2015-02-27 02:39] #18 closed

[2015-02-28 06:15] danalexilewis commented on #19
@eedrah check this out over the weekend and let me know what you think http://www.pluralsight.com/courses/aspdotnet-mvc-testing-from-scratch

[2015-02-28 08:11] danalexilewis commented on #22
has this been booked?

[2015-02-28 08:13] danalexilewis commented on #17
Do you mean the routing? or how the different files are collected to be compiled?

[2015-02-28 08:14] danalexilewis commented on #16
Do you need coaching on this Darcy? :)

[2015-02-28 08:54] danalexilewis commented on #7
as you are staying in phase 1 i will mark this as done and we will generate new requests on monday

[2015-02-28 08:54] #7 closed

[2015-02-28 08:56] #6 closed

[2015-03-01 05:10] eedrah commented on #19
The first half of that was really good - exactly what I was after, cheers.

On 28 February 2015 at 19:15, Daniel Lewis notifications@github.com wrote:

[2015-03-01 05:10] #19 closed

[2015-03-01 05:13] eedrah commented on #17
I think from the other video, and what you talked about the other day in
the demo, I've pieced enough together to have figured this out. Cheers.

On 28 February 2015 at 21:13, Daniel Lewis notifications@github.com wrote:

[2015-03-01 05:13] eedrah commented on #13
I think this was covered the other day for me. Cheers.

On 27 February 2015 at 13:06, Joshua Vial notifications@github.com wrote:

[2015-03-01 06:02] #17 closed

[2015-03-01 18:31] #13 closed

[2015-03-01 18:32] joshuavial commented on #13
@danmorrisonNZ I have closed this ticket, let me know if you want to revisit any of it.

[2015-03-01 18:32] #14 closed

[2015-03-01 18:32] joshuavial commented on #14
Have closed this ticket, let me know if you want to revisit it @kerwinkerwin

[2015-03-01 18:33] #16 closed

[2015-03-01 18:33] joshuavial commented on #16
@darcythomas - have closed the ticket, feel free to reopen if this is still an issue.

[2015-03-02 01:32] joshuavial opened #25 "[dhara] review numbers in words"

[2015-03-02 01:33] joshuavial commented on #25
@dharapanda123 @NotThatSmith will be able to help you at 6pm

[2015-03-02 06:31] michael-smith-nz commented on #25
Helped get through a few steps.

[2015-03-02 06:31] #25 closed, assigned to michael-smith-nz

[2015-03-02 07:43] Jayklutch opened #26 "(Jay) Going over Sinatra stuff."

[2015-03-03 00:26] Jayklutch commented on #26
I'd like to join this one please

[2015-03-03 00:28] Jayklutch commented on #26
I MAY have written that past comment logged in as Jay.
I'd like to join this one please

[2015-03-03 01:47] juliangommans commented on #26
Me too please

[2015-03-03 04:18] rohithyeluri opened #27 "Phill - Where is my database?"
I keep loosing the local db that is created by default in Visual Studios - would like a set of clear and consice step to locating the database.

[2015-03-03 04:29] #26 closed, assigned to nobody

[2015-03-03 04:48] rohithyeluri commented on #27
Please include me in this coaching session..  @rohithyeluri

[2015-03-03 04:50] rohithyeluri commented on #24
Please include me in this coaching session..  @rohithyeluri

[2015-03-03 05:06] rohithyeluri commented on #27
This is weird - Stop stealing my coaching request please Mr. Yeluri!

[2015-03-03 05:08] philldellow commented on #27
This is still pretty werid

[2015-03-03 05:09] rohithyeluri commented on #27
Trying to regain ownership of only my identity

[2015-03-03 05:11] philldellow commented on #27
Ok thanks - i feel better now already!

[2015-03-03 05:12] rohithyeluri opened #28 "[rohith] Craigslist Jr"

[2015-03-03 05:13] rohithyeluri commented on #28
Can someone take me through the whole challange!!

[2015-03-03 19:18] philldellow opened #29 "Azure"
Deploying to Azure - was unable to log in using the enspiral password yesterday and so did not walk through this challenge. Since this is now on the backlog I feel like a walk through the challenge will speed my learning of this.

[2015-03-04 01:25] joshuavial opened #30 "[geordi] filtering and sorting arrays and hashes"

[2015-03-04 01:25] joshuavial commented on #30
Pete interested too

[2015-03-04 01:26] joshuavial commented on #30
evenings preferred

[2015-03-04 05:15] Tojarra commented on #22
nope. can we book it?

[2015-03-04 05:17] Tojarra commented on #21
have updated ticket to include what still has not been covered.

[2015-03-04 08:53] raquelxmoss opened #31 "[Raquel] Differences between .each and .each_with_index"
Pref. with whiteboard diagram

[2015-03-04 08:54] amelialaundy commented on #30
@geordidearns do you still want this? and @petedigipulse

[2015-03-04 08:55] amelialaundy commented on #21
@Tojarra do you want to do this before javascript week or wait until then?

[2015-03-04 08:58] amelialaundy commented on #31
@raquelxmoss scheduled for thurs end of lunch, anyone else feel free to join circa 130pm

[2015-03-04 08:59] amelialaundy commented on #22
@Tojarra I'll put this back to clarifying, did you want Mikey back in to do it?

[2015-03-04 09:00] amelialaundy commented on #9
@donlewi @eedrah does this still need doing? il put it back to clarifying

[2015-03-04 20:08] eedrah commented on #9
done, cheers

On 4 March 2015 at 22:00, Amelia Laundy notifications@github.com wrote:

[2015-03-04 20:13] #9 closed

[2015-03-05 00:53] michael-smith-nz commented on #29
Phil mentioned that he could not access Azure with the password given
Phil only needs a run through of deploying anything to Azure. I'll be doing this tonight. I need to confirm with Darcy that the Azure account is still working

[2015-03-05 00:55] michael-smith-nz commented on #27
I'll be working with Phil(and Rohith?) on this tonight

[2015-03-05 02:48] astro8891 opened #32 "[Ash] Databases - Week 3 stuff C#"

[2015-03-05 03:10] michael-smith-nz commented on #29
Azure account is working. Will show Phil how to deploy to Azure tonight

[2015-03-05 06:10] #27 closed, assigned to michael-smith-nz

[2015-03-05 06:10] #29 closed, assigned to michael-smith-nz

[2015-03-05 09:22] geordidearns commented on #30
yes please @amelialaundy  - giving me situations to go through using arrays and hashes would be really helpful. perhaps for 30 mins when you have the time? thanks

[2015-03-05 09:29] geordidearns opened #33 "[Geordi] Recursive Methods & Looping through Nested arrays"
Overview of recursion and when to use
Practice with looping nested arrays

I am free friday evening and all weekend. Keen to look through before monday.

Thanks

[2015-03-05 19:45] #31 closed, assigned to nobody

[2015-03-07 04:27] raquelxmoss opened #34 "[Raquel] Review of phase-0 javascript"
With emphasis on JS syntax please

Towards the end of lunch preferred

[2015-03-08 07:11] danalexilewis commented on #32
set up to have regan do this some time this week

[2015-03-08 07:12] danalexilewis commented on #28
hi rohith i will see if i can find a coach to go over this with you

[2015-03-08 07:49] amelialaundy commented on #34
hey @raquelxmoss I'm happy to do this, we can chat tomorrow and organise :)

[2015-03-08 07:50] amelialaundy commented on #33
@geordidearns I put out a request to the coaches, nothing back as of yet, but I am happy to do this with you this week, lets chat tomorrow :)

[2015-03-08 08:05] astro8891 commented on #32
This is all set for Thursday night, thanks Dan!

[2015-03-08 21:02] joshuavial opened #35 "[ira] review sudoku"

[2015-03-09 04:21] dharapanda123 opened #36 "[dhara] su-do-ku ,tuesday after 6 p:m"

[2015-03-09 04:22] dharapanda123 opened #37 "[dhara] enumerable"

[2015-03-09 04:23] dharapanda123 commented on #37
how and where to use.Importance. anytime of the week after 6 p:m

[2015-03-09 04:24] dharapanda123 opened #38 "[dhara] Testing in general and test driven development,coaching on writing tests"

[2015-03-09 21:02] #35 closed, assigned to joshuavial

[2015-03-09 21:08] Tojarra commented on #22
yes please. if possible.

[2015-03-09 21:08] Tojarra commented on #21
i hit up samson today to go over first personal project. but testing break out at any point this week would be great.

[2015-03-09 21:11] ootoovak opened #39 "[louis] Review previous Personal Project 1"
Louis would like some teacher time to go over his last attempt on Personal Project 1 to improve on it this time.

[2015-03-09 22:40] ahdinosaur commented on #22
sweet. i'll be at the space tonight for Node.js Hack Night, and i'll see when else i can be around in the near future. unfortunately, my desire to help teach Javascript is much greater than my current capacity to teach, as i'm quite busy with other projects, but i'll see what i can do to help out.

[2015-03-10 02:41] Jamanius opened #40 "can't run code"

[2015-03-10 02:42] Jamanius commented on #40
Blah what do you mean?

[2015-03-10 02:43] #40 closed, assigned to Jamanius

[2015-03-10 07:38] Jayklutch opened #41 "[jay] Ruby controllers in sinatra"

[2015-03-10 20:54] #30 closed, assigned to nobody

[2015-03-10 22:44] iraritchiemeek opened #42 "[ira] Go through csv challenges"
Anytime

[2015-03-10 23:24] iraritchiemeek commented on #42
Geordi joining - evenings preferred

[2015-03-11 01:38] Jamanius opened #43 "Craig_rb Week 8 Phase-0. Help with running tests"

[2015-03-11 02:20] #21 closed

[2015-03-11 02:20] #22 closed

[2015-03-11 02:20] #39 closed, assigned to joshuavial

[2015-03-11 02:35] danalexilewis commented on #28
lined up with phil

[2015-03-11 02:36] danalexilewis commented on #36
is this done?

[2015-03-11 02:38] danalexilewis commented on #38
Would going over the extension methods challenge and unit testing it cover this?

[2015-03-11 02:40] danalexilewis commented on #37
I think understanding what it is and you see it are things you want to know. is this correct? this kind of relates to your other pending ticket

[2015-03-11 02:43] Tyesb commented on #36
yes, hour and a half last night. I'm not sure if she wants to go back
over it tonight, we got all the solve methods done Dhara just has to
join them back up.

On 11/03/2015 3:36 p.m., Daniel Lewis wrote:

[2015-03-11 02:52] Jamanius commented on #43
Booked in via email - Friday 13 March 10am @EDA

[2015-03-11 03:46] Jayklutch commented on #41
Yes, for some reason now it works

[2015-03-11 04:41] #36 closed, assigned to Tyesb

[2015-03-11 05:05] #38 closed, assigned to nobody

[2015-03-11 06:07] iraritchiemeek opened #44 "Ira & Pete Classes help"
Help with challenges similar to hospital_interface and cookies_and_ovens.

preferred time around 6pm

[2015-03-11 06:08] #42 closed, assigned to UberMouse

[2015-03-11 06:09] iraritchiemeek commented on #44
Passing methods and arrays across classes

[2015-03-11 09:16] danalexilewis commented on #37
following our convirsation we will look to do a break out demo on this

[2015-03-11 22:45] raquelxmoss opened #45 "[Karearea] Go over ARGV"
Raquel, Ira, Geordi, Alex, Pete...basically whole class. Help!

[2015-03-11 22:46] raquelxmoss commented on #34
Hi @amelialaundy is Friday 1:30pm okay? Ira too.

[2015-03-11 22:58] amelialaundy commented on #41
@Jayklutch does this need doing still?

[2015-03-11 22:59] amelialaundy commented on #34
yep for sure @raquelxmoss

[2015-03-11 22:59] #33 closed, assigned to amelialaundy

[2015-03-12 03:46] iraritchiemeek opened #46 "[Raquel, Ira] When/Why to use Constants"

[2015-03-12 03:47] iraritchiemeek commented on #45
Update: I (Raquel) am mostly happy with these now.

[2015-03-12 21:33] amelialaundy opened #47 "active record popcorn"
for all phase 2 kakapo rubies

[2015-03-12 21:34] amelialaundy opened #48 "dom manipulation"
crawling the dom, phase 2 kakapo all

[2015-03-12 22:47] #45 closed, assigned to nobody

[2015-03-12 22:47] #43 closed, assigned to amelialaundy

[2015-03-12 22:48] amelialaundy commented on #41
yes it does

[2015-03-13 02:56] #34 closed, assigned to amelialaundy

[2015-03-15 21:38] amelialaundy commented on #44
@iraritchiemeek and @petedigipulse I can do this on wednesday evening at 6ish?

[2015-03-16 00:11] Tyesb commented on #24
hey guys are you around tonight for this?

[2015-03-16 02:41] #28 closed, assigned to nobody

[2015-03-16 02:43] rohithyeluri commented on #24
I am fine with today..

[2015-03-16 03:42] #32 closed, assigned to regan-young

[2015-03-16 03:42] danalexilewis commented on #37
@darcythomas

[2015-03-17 00:29] cathalennon opened #49 "Brush up on fundamentals. Loops, Classes, and some other random questions :-)"

[2015-03-17 00:57] amelialaundy commented on #44
@geordidearns

[2015-03-17 00:58] Tyesb commented on #49
2 sessions, tomorrow lunch and tomorrow night

[2015-03-18 02:20] Tyesb commented on #24
Hey do you guys feel that you still need to have a recap on this or was it covered in your breakout? @donlewi, can you tag Phil in this as well

[2015-03-18 02:25] #24 closed, assigned to Tyesb

[2015-03-18 02:26] amelialaundy commented on #24
@tyesb all done :)

[2015-03-18 02:28] Tyesb commented on #24
Sweet just wanted to clear it off the board :)

From: Amelia Laundy [mailto:notifications@github.com]
Sent: Wednesday, 18 March 2015 3:26 p.m.
To: enspiral-dev-academy/coaching
Cc: Tyesb
Subject: Re: [coaching] Phill: Going over Ajax and json some time this week (#24)

@tyesb https://github.com/tyesb  all done :)

—
Reply to this email directly or view it on GitHub https://github.com/enspiral-dev-

[2015-03-18 04:14] geordidearns opened #50 "Help with ActiveRecord"
Ira, Geordi, Alex

[2015-03-18 04:51] #48 closed, assigned to nobody

[2015-03-18 05:16] astro8891 opened #51 "Session on testing"

[2015-03-18 08:07] geordidearns commented on #50
Emphasise on associations for myself, Geordi

[2015-03-18 08:11] geordidearns opened #52 "JS intro Overview before phase two"
Over the weekend of 21st/22nd if possible please. Could also do a weekend but prefer to get through this week and concentrate on the weeks content first.

[2015-03-18 08:12] geordidearns commented on #46
Will jump on this also if ok with Ira and Raquel

[2015-03-18 22:28] astro8891 opened #53 "Databases Databases Databases C# Help MEEEEEE"

[2015-03-18 23:42] Tyesb commented on #49
Good 2 sessions with cathal, pretty sure he had it all sorted just wanted some clarification

[2015-03-18 23:44] Tyesb opened #54 "clearing up some stuff up"
Remote session with @CJdiaz

[2015-03-18 23:46] Tyesb commented on #53
hey mate are you free tonight? Is it entity or SQL stuff you need to clear up?

[2015-03-18 23:59] astro8891 commented on #53
Hey there, entity stuff.

From: Tyesb
Sent: Thursday, March 19, 2015 12:46 PM
To: enspiral-dev-academy/coaching
Cc: Ashley
Subject: Re: [coaching] Databases Databases Databases C# Help MEEEEEE (#53)

hey mate are you free tonight? Is it entity or SQL stuff you need to clear up?

—
Reply to this email directly or view it on GitHub.

[2015-03-18 23:59] astro8891 commented on #53
Free tonight yes

From: Tyesb
Sent: Thursday, March 19, 2015 12:46 PM
To: enspiral-dev-academy/coaching
Cc: Ashley
Subject: Re: [coaching] Databases Databases Databases C# Help MEEEEEE (#53)

hey mate are you free tonight? Is it entity or SQL stuff you need to clear up?

—
Reply to this email directly or view it on GitHub.

[2015-03-19 00:39] Tyesb commented on #53
Say 6-7pm?

[2015-03-19 00:44] astro8891 commented on #53
Amazing, see you then!

From: Tyesb
Sent: Thursday, March 19, 2015 1:39 PM
To: enspiral-dev-academy/coaching
Cc: Ashley
Subject: Re: [coaching] Databases Databases Databases C# Help MEEEEEE (#53)

Say 6-7pm?

—
Reply to this email directly or view it on GitHub.

[2015-03-19 02:21] Tyesb commented on #54
Good session with CJ worked on Credit card checker challange

[2015-03-19 03:45] dharapanda123 opened #55 "ormsToDo go through the challenge with a coach,ASAP"

[2015-03-19 03:45] #37 closed, assigned to darcythomas

[2015-03-19 04:52] Tyesb commented on #53
hey mate do you mind if dhara sits in on this if tonight suits her?

[2015-03-19 04:53] iraritchiemeek commented on #44
When should we do this?

[2015-03-19 04:54] astro8891 commented on #53
Not at all, ready to roll after standup

From: Tyesb
Sent: Thursday, March 19, 2015 5:52 PM
To: enspiral-dev-academy/coaching
Cc: Ashley
Subject: Re: [coaching] Databases Databases Databases C# Help MEEEEEE (#53)

hey mate do you mind if dhara sits in on this if tonight suits her?

—
Reply to this email directly or view it on GitHub.

[2015-03-19 04:59] Tyesb commented on #55
Hey dhara we can do this tonight if you would like im doing one with Ashley so we can do both at the same time :) Did you get SQL installed?

[2015-03-19 07:03] #47 closed, assigned to nobody

[2015-03-19 08:19] regan-young commented on #52
Hey man, if you're free, I can come in Saturday arvo around 2-4. Where abouts are you up to in the JS?

[2015-03-23 04:43] nsovdev opened #56 "How to setup a database in C# entity framework"
Need to understand code first and empty

[2015-03-23 04:46] nsovdev commented on #56
Dhara wants to join as well

[2015-03-23 19:23] joshuavial commented on #56
@NotThatSmith @donlewi can one of you sort this today?

[2015-03-23 19:37] #55 closed, assigned to Tyesb

[2015-03-23 19:37] #49 closed, assigned to Tyesb

[2015-03-23 19:37] #54 closed, assigned to Tyesb

[2015-03-23 19:38] #53 closed, assigned to Tyesb

[2015-03-23 19:38] danalexilewis commented on #56
@josh ill take it - ryan just asked for the same thing

[2015-03-23 19:39] #51 closed, assigned to nobody

[2015-03-24 23:09] geordidearns opened #57 "[geordi] Sinatra GET/POST help"

[2015-03-24 23:11] geordidearns commented on #57
I would like help with the syntax of GET/POST methods, and the general interaction of all the files, knowing what files to place what code in etc.

[2015-03-24 23:21] geordidearns commented on #57
also, the html/ruby mash up is strange.

[2015-03-25 02:40] danalexilewis commented on #56
breakout went well - any more help will be done via one on one coaching

[2015-03-25 02:40] #56 closed, assigned to danalexilewis

[2015-03-26 00:49] samragriff opened #58 "Roman Numerals"
Haven't got it to work with my pair CJ, but open to try any challenge as my confidence is not great so far in Phase 1 and not sure what I should be focussing on

[2015-03-26 02:11] astro8891 opened #59 "quick run on c# basic rules"
basic c# code structure.

I want to know the limitation of some codes and how to write them properly.

I'll make a list of codes that I need clarifications on. ta

[2015-03-26 04:25] astro8891 opened #60 "Ash - asp.net. step by step guide through stuff in solution + work through UrlShortener."

[2015-03-26 04:26] astro8891 commented on #59
hey ash here - this isnt me. who posted this ticket?

[2015-03-26 04:54] cjsamodiaz commented on #59
So yeah, that was me.
What happened is, I am logged in on my account on github and when I go to the waffle board link. I am expecting my account is logged in as well. I didn't noticed that its yours  @astro8891, sorry about that.

you said Dan is gonna delete this, I will just make another ticket.

[2015-03-26 05:18] astro8891 commented on #59
All good mate!

[2015-03-26 07:38] ghost opened #61 "Enumerables help"
I haven't had any experience with C# Enumberables before and am keen to take a look at the basics with someone.

[2015-03-26 18:39] #59 closed, assigned to nobody

[2015-03-26 18:41] danalexilewis commented on #58
great sam. so we will line you up with a coach to work on this challenge

[2015-03-26 18:44] danalexilewis commented on #61
hey there i will do a breakout at 12 on this - anyone is welcome

[2015-03-26 22:32] cjsamodiaz commented on #61
add me in!

[2015-03-27 01:24] amelialaundy commented on #52
@geordidearns @regan-young can you re-organise this if it still needs doing? its easiest to @ mention the person who you are replying to on here otherwise no one gets notified :)

[2015-03-27 22:40] geordidearns commented on #52
@regan-young apologies i didn't re-organise this. I am free from 2pm or all day sunday. no worries if those times don't work for you, it is very late notice.

[2015-03-29 04:11] samragriff opened #62 "C# Basics Help"
Need some more help with Methods and Classes in c#, Jesse said he may be able to do something on Monday evening with me. Still not sure why i'm so confused!

[2015-03-29 07:30] danalexilewis commented on #60
lined up with regan

[2015-03-29 07:31] danalexilewis commented on #58
coached by jessee on the weekend

[2015-03-29 07:31] #61 closed, assigned to danalexilewis

[2015-03-29 07:33] danalexilewis commented on #62
hey sam is this still something you want?
if so what would you like to focus on?

[2015-03-29 07:34] danalexilewis commented on #52
@geordidearns @regan-young did this happen? otherwise lets see about finding someone for monday/tuesday.

[2015-03-29 07:37] danalexilewis commented on #44
@iraithiemeek This is 10 days old now. Do you want to do a coaching session this week on classes? or something else?

[2015-03-29 07:37] #41 closed, assigned to joshuavial

[2015-03-29 07:37] danalexilewis commented on #50
did this happen?

[2015-03-29 07:38] #46 closed, assigned to nobody

[2015-03-29 07:38] geordidearns commented on #52
unfortunately not @donlewi, i think a miscommunication prevented it. I'm at dev academy now going through intro stuff, but it would be nice to go through with a coach as it's still very unfamiliar

[2015-03-29 07:39] geordidearns commented on #50
@donlewi nope, although i have a fairly confident grasp on AR now. unsure about the others

[2015-03-29 07:39] danalexilewis commented on #57
hey geord: i know its js week so would you like to do a ruby coaching session on your personal project around this?

[2015-03-29 07:41] geordidearns commented on #57
@donlewi yeah that would be great. I had a chat with joshua about this last week and i was ok then, Getting more confident with it although have hit a bit of a block in regards to multiple views etc. Thanks for sorting this.

[2015-03-29 07:42] danalexilewis commented on #50
hmm ok. I am going to move it to done as it is redundant.

I will chat to ira and alex tomorrow and have them post new tickets if needed

[2015-03-29 07:42] #50 closed, assigned to data-doge

[2015-03-29 07:43] danalexilewis commented on #44
also assigning it to myself as amelia has gone

[2015-03-29 08:18] danalexilewis commented on #52
@geordidearns ok we will chat about this tomorrow

[2015-03-29 11:07] samragriff commented on #62
Hey Dan, we didn't do the Roman numerals over the weekend so keen to tackle that one from where we left it  on tuesday

[2015-03-29 18:16] cjsamodiaz opened #63 "C# Basic code structure Details"
We can start on my questions about, methods, classes, collection and enumerable.

After we can try to apply my pseudo code on Sudoku challenge. Thanks :)

[2015-03-29 21:28] danalexilewis commented on #62
ok will see about getting a coach in.

[2015-03-29 21:28] #58 closed, assigned to eedrah

[2015-03-29 21:29] danalexilewis commented on #63
Ok great. Will get in touch with a coach today

[2015-03-29 23:15] AlexB52 opened #64 "Simple Authentication with Sinatra"
get a simple authentication working with sinatra and scypt

[2015-03-29 23:16] geordidearns commented on #64
I would also like to join this if thats ok

[2015-03-29 23:19] AlexB52 commented on #64
6.00 o'clock preferably who can help us ? @euglazer @joshuavial @ootoovak

[2015-03-29 23:51] raquelxmoss opened #65 "Help setting up rspec/capybara for personal project"
Just the set-up, not writing the tests or help with actual code.

[2015-03-30 01:08] geordidearns commented on #64
I have spoken to alex, perhaps Tuesday due to the big tech talk tonight at EDA

[2015-03-30 04:44] nsovdev opened #66 "Personal project breakout"
not sure what yet - Wednesday night please
Get Jessie to help me.

[2015-03-30 05:19] AlexB52 opened #67 "How to scrap Websites"
How to scrap entire websites for some information when no api is avaialble

[2015-03-30 05:20] AlexB52 opened #68 "Cron/Background jobs"
Using background jobs to perform some long tasks in backend.

[2015-03-30 05:21] AlexB52 commented on #68
@joshuavial Hey Josh can we get some time to see how those things are working, please ? Anytime that is convenient for you.

[2015-03-30 05:22] AlexB52 commented on #67
@euglazer @joshuavial
I am wondering how to do that ? Would one of you go through a breakout with me on this one, please ? I will try to find stuff on the internet before the session. I am ok anytime this week. Thanks

[2015-03-30 21:06] michael-smith-nz commented on #66
Slacked Jessie to see if Wednesday night works for him.

[2015-03-31 00:37] cathalennon opened #69 "Adding list to webpage in ASP"

[2015-03-31 00:56] #44 closed, assigned to danalexilewis

[2015-03-31 00:57] iraritchiemeek opened #70 "[Ira] Intermediate Rspec"
Interested to learn a little more than just the basics

[2015-03-31 02:56] regan-young commented on #52
Hey @geordidearns, sorry about this. Just going through Github notifications. Lemme know if you need any JavaScript help. I'm free Wednesday night

[2015-03-31 04:34] michael-smith-nz commented on #66
Jesse said 6 o'clock on Wednesday suits

[2015-03-31 05:37] michael-smith-nz commented on #69
Scheduled for tonight at 7

[2015-03-31 06:16] raquelxmoss commented on #65
Never mind, I got it working

[2015-03-31 19:35] cjsamodiaz commented on #63
I didn't expect that you can be assigned on the same day Dan and yeah I can't make it to EDA on the past few days. How about today?

[2015-03-31 20:37] #69 closed, assigned to michael-smith-nz

[2015-03-31 20:56] OBaddeley opened #71 "[Olivia] C# basics classes and OO"
A visual representation of classes and OO theory and working through an example?

[2015-03-31 20:58] OBaddeley opened #72 "[Olivia] C# List use and manipulation"
Overview and example

[2015-03-31 21:22] danalexilewis commented on #63
we will do this in the afternoon

[2015-03-31 21:22] #60 closed, assigned to regan-young

[2015-03-31 21:36] #65 closed, assigned to nobody

[2015-03-31 21:39] data-doge commented on #67
scheduled today 3 'o clock

[2015-03-31 21:57] danalexilewis commented on #72
@OliviaHihi there will be a breakout on this at 4. 10 min + Q&A

[2015-03-31 21:57] danalexilewis commented on #71
@OliviaHihi there will be a breakout on this at 4.20 after thi list one. 10 min + Q&A

[2015-03-31 22:28] iraritchiemeek opened #73 "Using CSV files in ruby"

[2015-03-31 22:28] CraigKuriger opened #74 "Ruby Fundamentals [Craig Kuriger]"
I could use some one on one time to go through some of the challenges. I don't have a specific issue, but rather am just a bit behind in general.

[2015-03-31 22:43] data-doge commented on #64
scheduled 6 o'clock

[2015-04-01 00:39] cathalennon opened #75 "Item linking and adding ASP"

[2015-04-01 00:49] OBaddeley commented on #71
Have had a breakout with Michael, would still like further work on OO theory and example.

[2015-04-01 02:32] AlexB52 opened #76 "Jquery Behavior Drill Solutions"
I have been stuck and did not manage to solve those exercises. I really would like to see solutions for the week 5 Wednesday morning exercises.

[2015-04-01 02:32] AlexB52 commented on #76
Just some very simple solution to see the logic. Do not need a complete breakout on them.

[2015-04-01 03:33] ghost opened #77 "[Sean] C# ToDo List Challenge"
Would like some help getting started with this challenge.

[2015-04-01 03:36] AlexB52 commented on #67
Good intro to nokogiri. Very simple to use. Thanks Eugene

[2015-04-01 03:42] OBaddeley opened #78 "[Olivia] C# Parsing things"
Different uses and examples of parsing objects/ classes ..

[2015-04-01 03:55] #70 closed, assigned to data-doge

[2015-04-01 05:31] #67 closed, assigned to data-doge

[2015-04-01 06:40] ghost commented on #78
Keen for this too!

[2015-04-01 08:51] amelialaundy opened #79 "what is C#?"

[2015-04-01 10:05] nsovdev commented on #66
This is done. Thanks Jesse.

[2015-04-01 10:09] nsovdev commented on #76
I would like to see the solutions too

[2015-04-01 21:56] michael-smith-nz commented on #75
Are you still wanting this Cathal? Or was this just for personal project?

[2015-04-01 21:57] #72 closed, assigned to michael-smith-nz

[2015-04-01 21:58] #63 closed, assigned to danalexilewis

[2015-04-02 01:59] danalexilewis commented on #77
come and get me during the afternoon and we will spend 20 min on it

[2015-04-02 02:00] danalexilewis commented on #79
underlying language of the universe - with types to make it all make sense??

[2015-04-02 04:32] astro8891 opened #80 "ASP.net with Michael"
6 pm Monday Night

[2015-04-03 00:43] samragriff commented on #62
this has been done - thanks dan.

[2015-04-03 02:05] AlexB52 opened #81 "Run through Personal Project"
guided solving of shopping cart.
in 3-4 parts. max 30 min a pop

[2015-04-03 02:07] #62 closed, assigned to philals

[2015-04-03 02:12] michael-smith-nz commented on #71
Scheduled with Olivia either Friday nigth or Monday lunch

[2015-04-03 02:17] michael-smith-nz commented on #78
Combined with OO coaching session

[2015-04-03 02:17] #78 closed, assigned to nobody

[2015-04-04 20:45] nsovdev opened #82 "2nd and 3rd personal project help"
I will need some help completing the projects.

[2015-04-04 20:53] dharapanda123 opened #83 "help with js personal project"
need to understand whats given whats not? and how db is connected!!!!!!!!!!!!

[2015-04-04 23:21] geordidearns opened #84 "Phase Two (week 4 & 5) Tech check-in [geordi]"
I would like to sit down with a coach for an hour or so and review the topics covered so far to see where my weaknesses are. Anytime in the morning before 8.45am, through-out lunch, or after 6pm any day. Thanks

[2015-04-05 22:14] astro8891 opened #85 "personal proj agreed with Jesse"
6-8 on Wednesday evening

[2015-04-05 22:14] astro8891 commented on #85
@eedrah

[2015-04-06 02:23] #77 closed, assigned to danalexilewis

[2015-04-06 02:23] #66 closed, assigned to eedrah

[2015-04-06 02:25] danalexilewis commented on #85
6-8 wedsday

[2015-04-06 02:26] danalexilewis commented on #82
someone on weds

[2015-04-06 02:27] danalexilewis commented on #83
30 min a day

[2015-04-06 02:28] #75 closed, assigned to nobody

[2015-04-06 02:56] #71 closed, assigned to michael-smith-nz

[2015-04-06 05:28] eedrah commented on #85
Great, sounds good. See you there Ash.
On 6/04/2015 2:25 PM, "Daniel Lewis" notifications@github.com wrote:

[2015-04-07 00:02] donlewi commented on #82
I will do this with you at 6

[2015-04-07 00:02] donlewi commented on #82
tomorrow

[2015-04-07 00:04] danalexilewis commented on #84
will find out if josh or samson can do this tomorrow
@joshuavial + @ootoovak

[2015-04-07 00:05] geordidearns commented on #84
Thanks dan

[2015-04-07 00:08] danalexilewis commented on #73
hey ira - sorry for the delay. long weekend. do you want a breakout on this?

[2015-04-07 00:08] danalexilewis commented on #74
hey craig - I will see if i can organise someone today

[2015-04-07 00:10] danalexilewis commented on #76
I will see who has capacity for this this afternoon

[2015-04-07 00:11] danalexilewis commented on #68
Was this covered last week?

[2015-04-07 00:12] #80 closed, assigned to michael-smith-nz

[2015-04-07 00:12] #64 closed, assigned to joshuavial

[2015-04-07 00:13] #52 closed, assigned to regan-young

[2015-04-07 00:14] donlewi commented on #82
@regan-young keen to do this tomorrow?

[2015-04-07 02:05] dharapanda123 opened #86 "go over personal project 1"
with not that smith

[2015-04-07 02:07] danalexilewis commented on #82
mitch will be in at 6 to jam on this with you

[2015-04-07 02:07] #74 closed, assigned to danalexilewis

[2015-04-07 04:41] samragriff opened #87 "Phase 0 week 6 Boggle Board C#"
Half way through challenge so far and thought it would be a good challenge to attack with a coach.

[2015-04-07 05:38] astro8891 opened #88 "[Ash] Going over Tuesday Week 6 API consuming challenge"

[2015-04-07 06:37] OBaddeley commented on #87
Would be keen to join

[2015-04-07 07:11] cathalennon opened #89 "[Cathal] Help with personal project 2 & 3 Please"

[2015-04-07 07:41] geordidearns opened #90 "[Geordi] Help with personal projects 2 & 3, thanks"
Some guidance around the projects to get underway. Lacking confidence to get started by myself.

[2015-04-07 21:14] samragriff commented on #87
cool!

[2015-04-08 00:50] CraigKuriger opened #91 "(Craig) MySQL"
I could use some help with the mysql

[2015-04-08 04:39] astro8891 opened #92 "[RYAN] API consuming using http client"

[2015-04-08 05:24] michael-smith-nz commented on #86
When do you want this Dhara? Friday lunch?

[2015-04-08 06:49] #84 closed, assigned to danalexilewis

[2015-04-08 06:50] #73 closed, assigned to danalexilewis

[2015-04-08 21:13] #57 closed, assigned to data-doge

[2015-04-08 21:14] #82 closed, assigned to Mitchell-McEwen

[2015-04-08 21:15] #83 closed, assigned to danalexilewis

[2015-04-08 21:15] #85 closed, assigned to eedrah

[2015-04-13 02:15] #86 closed, assigned to michael-smith-nz

[2015-04-13 02:16] #87 closed, assigned to nobody

[2015-04-13 02:16] #89 closed, assigned to nobody

[2015-04-13 02:16] #90 closed, assigned to nobody

[2015-04-13 02:16] #88 closed, assigned to nobody

[2015-04-13 02:16] #92 closed, assigned to nobody

[2015-04-13 02:17] #91 closed, assigned to nobody

[2015-04-13 02:17] danalexilewis commented on #91
can you make a ticket when you are in the sql week if needed

[2015-04-13 02:18] danalexilewis commented on #92
learning objective for this week?

[2015-04-13 02:46] danalexilewis opened #93 "[P2 BreakOut] ActiveRecord many to many. Accessing through through table"

[2015-04-13 02:48] danalexilewis commented on #93
@joshuavial  @ootoovak can one of you do this today or tomorrow?

[2015-04-13 08:53] ootoovak commented on #93
I am on Axos all day tomorrow. Hopefully @joshuavial or @euglazer can take it?

[2015-04-13 10:27] CraigKuriger opened #94 "(Craig) Ruby Algorithms + Recursion"
I could use some extra help with algorithms.

[2015-04-13 20:05] joshuavial commented on #93
Yep, I can do this morning

[2015-04-14 22:17] samragriff opened #95 "Data drill nested arrays Chess Board [Sam}"
Just a quick run through of chess board challenge as haven't been successful at two paring attempts on this

[2015-04-14 22:37] astro8891 opened #96 "[Ash] Ajax Session"
Going over the Ajax PP2 challenge
@javascript

[2015-04-14 22:40] stevenb-nz commented on #94
I'd be happy to try helping with this.
- after about 6pm today (Wed 15/4), or
- after about 4.30pm tomorrow.

[2015-04-15 00:07] raquelxmoss opened #97 "Rails Strong Paramaters [Raquel]"
What, why, and how (the blog post in the phase guide didn't make any sense to me)

[2015-04-15 22:07] AlexB52 opened #98 "API keys"

[2015-04-15 22:11] AlexB52 commented on #98
@donlewi : I hear a lot about API and the fact that our keys need to be part of the environment for me security. How do you create them in a rails app and how do you access them when needed. Thanks

[2015-04-15 22:19] AlexB52 opened #99 "Server architecture"
@donlewi

I have a lot of trouble about understanding deployment and do not want to see Heroku as magic.

I would like to know what is minimum required for web deployment.
What is a dyno in Heroku ?
What are the basic principles to scale?
How would a server look like if I have want to get some background jobs, and two instances of my website running ?

I hear a lot about Chef, Capistrano, Vagrant

[2015-04-15 22:20] AlexB52 opened #100 "Deploy rails app on AWS or Linode or equivalent"

[2015-04-15 22:24] AlexB52 commented on #100
@donlewi

I would like a breakout on deploying a rails app on another hosting company than Heroku using deployment tools. The app doesn't matter but it should get tricky features like uploading files for example.  Where do the files go when not on my local machine ?

[2015-04-16 21:19] danalexilewis commented on #100
@AlexB52 Hmmm ok. So where you can deploy is dependant on the server running the tech stack you  want to deploy. Eg I could not deploy a rails app to Webbase.co.nz who I use to host a few sites as they only support an AMP stack (Apache, MySql anh PHP).

I use AppHarbour for .net apps and it functions very similarly to heroku. I would say that as long as you are using hosted services like heroku/Ap

[2015-04-16 21:20] danalexilewis commented on #99
Sweet i see this very much like the second ticket you posted. Lets bundle them together and call it a intro/Q&A on DevOps

[2015-04-16 21:21] danalexilewis commented on #100
copied from last ticket:

Alex wrote
I have a lot of trouble about understanding deployment and do not want to see Heroku as magic.

I would like to know what is minimum required for web deployment.
What is a dyno in Heroku ?
What are the basic principles to scale?
How would a server look like if I have want to get some background jobs, and two instances of my website running ?

I hear a lot about

[2015-04-16 21:22] #99 closed, assigned to nobody

[2015-04-16 21:29] danalexilewis commented on #98
roger that, so we can title it: Rails Apis, how to create, issue and track an Api key?

[2015-04-16 21:38] danalexilewis commented on #96
Hey Ash. Not sure what you mean by Ajax Session - can you clarify?

[2015-04-16 21:38] danalexilewis commented on #95
Righto: Ill do a breakout this afternoon in it

[2015-04-16 21:41] danalexilewis commented on #94
@stevenb-nz thats awesome that your offering to help! I will checkin with craig and see where he is at. I know its last minute and a friday so maybe we will line something up for next week.

[2015-04-16 21:46] stevenb-nz commented on #94
Yep, not in Wellington today. Can do 6pm-ish Mon-Thu next week, and should be there all day Fri next week.

Sent from my iPhone

[2015-04-16 21:47] danalexilewis commented on #94
@CraigKuriger I was chatting to you quick yesterday. Steve would be a great person to have a 1 on 1 session with. Lets line this up for monday.

[2015-04-17 00:08] stevenb-nz commented on #94
Okay - will get there for end-of-day standup on Monday, and do this after that.

[2015-04-17 00:38] astro8891 commented on #96
Personal Project 2 - from start to finish.

[2015-04-17 00:48] danalexilewis commented on #96
ahhh ok - hmmmm do you mean like an example of someone solving it?

[2015-04-17 00:55] astro8891 commented on #96
Going over it with a coach, I didn't finish it and would love the refresher

[2015-04-17 01:36] danalexilewis commented on #96
ok - i so like a review of what you have done? and then a chat about what you havent?

[2015-04-17 01:44] #97 closed, assigned to data-doge

[2015-04-19 21:10] danalexilewis commented on #96
Hey ill jam on this with you this evening at about 6.30

[2015-04-19 21:13] #68 closed, assigned to danalexilewis

[2015-04-19 21:13] donlewi commented on #76
requested solution for this week

[2015-04-19 22:45] data-doge commented on #98
scheduled tentatively for sometime today

[2015-04-19 22:45] data-doge commented on #79
wololo

[2015-04-20 01:26] CraigKuriger commented on #94
Yip ,that should be great thanks.

[2015-04-20 01:49] CraigKuriger commented on #94
@stevenb-nz thanks for that, any help tonight would be great since I hear algorithms is your forte!

PS, Sorry about my late reply, I got bit behind with github emails.

[2015-04-20 21:42] ryangibbs opened #101 "Jasmine Testing [RYAN]"

[2015-04-21 00:37] #94 closed, assigned to stevenb-nz

[2015-04-21 00:37] #93 closed, assigned to joshuavial

[2015-04-21 01:04] joshuavial commented on #93
https://www.youtube.com/watch?v=PD0-efs7s_A

[2015-04-21 03:33] ghost commented on #100
Did a basic breakout on devops. This is a bit broader than that though. I think the rest of Alex's questions around deploying to hosting environments got covered off in the lecture on web performance - which took in server farms and how things get deployed to some extent.

[2015-04-21 04:33] AlexB52 commented on #100
Yeah it did answer some of my questions !
I still would like, if possible, a live rails deployment breakout to to get a better understanding on how things are done to deploy on a vps. Thanks

[2015-04-21 05:31] dharapanda123 opened #102 "revise"
building and consuming apis
razor(where and why and how)
forms???

just before starting the final project want to go over all of those with DAN

[2015-04-21 21:18] joshuavial opened #103 "seo breakout"
ira, kirsty, pete

[2015-04-21 21:18] joshuavial opened #104 "javascript framework overview"
react, backbone, angular, knockout

[2015-04-22 02:09] danalexilewis opened #105 "P1 Breakout on args"
example of using args to drive an application.

[2015-04-22 20:39] #95 closed, assigned to danalexilewis

[2015-04-22 20:39] #96 closed, assigned to danalexilewis

[2015-04-22 20:40] danalexilewis commented on #98
@euglazer done?

[2015-04-22 20:54] danalexilewis commented on #102
In the final project we will set up some coaching time to work on this

[2015-04-22 20:54] #102 closed, assigned to nobody

[2015-04-22 21:02] danalexilewis commented on #104
I suppose this is applicable to phase 2 and 3 at this point?

[2015-04-22 21:18] joshuavial opened #106 "xhr [peter]"

[2015-04-22 21:19] joshuavial opened #107 "project review [piet]"

[2015-04-22 23:27] joshuavial commented on #104
yes, though I would make it a general overview of each technology and an
open invite for all phases.

On 23 April 2015 at 09:02, Daniel Lewis notifications@github.com wrote:

##

http://enspiral.com/        _Joshua Vial      *
*Phone_ +64 21 684 495
*Skype  *joshuavial *Website *www.enspiral.com
*Twitter  \* @joshuavial http://twitter.com/joshuavial

[2015-04-23 22:02] #98 closed, assigned to data-doge

[2015-04-26 22:38] bas-ie commented on #104
I'd be keen.

[2015-04-27 02:37] iainkirkpatrick commented on #104
me second!

[2015-04-27 08:07] OBaddeley opened #108 "To do list [olivia]"
Work through this challenge or similar - adding functionality- working through the command line, e.g. add, delete.

[2015-04-27 08:11] lukekavanagh commented on #104
Me three!

Sent from Yahoo Mail on Android

From:"iainkirkpatrick" notifications@github.com
Date:Mon, 27 Apr, 2015 at 14:37
Subject:Re: [coaching] javascript framework overview (#104)

me second!

—
Reply to this email directly or view it on GitHub.￼

[2015-04-27 11:36] kirstylm commented on #103
i'm keen if this happens!

[2015-04-27 11:37] kirstylm commented on #104
Me four :)

[2015-04-29 00:53] #105 closed, assigned to data-doge

[2015-04-29 00:53] #101 closed, assigned to nobody

[2015-04-29 00:54] #100 closed, assigned to nobody

[2015-04-29 00:56] #81 closed, assigned to danalexilewis

[2015-04-29 00:56] #76 closed, assigned to danalexilewis

[2015-05-03 06:24] geordidearns commented on #104
I fifth that if it hasn't already been

[2015-05-03 06:27] geordidearns opened #109 "OOJS Breakout"
Could i please get a 30-45min breakout on OOJS with a coach sometime this week please. Preferably solo or small group because I seem to learn better that way, Thanks

[2015-05-03 20:44] samragriff opened #110 "Release 3 of Phase 1 assesment"
Just want to clarify instructions for release 3 and some help with seeding data etc

[2015-05-04 06:24] cjsamodiaz opened #111 "Number in Words Phase1 Walk through"
Looking for a coach to walk me over this challenge tomorrow Tuesday(5/05/2015) or the following days.

[2015-05-04 06:43] danalexilewis commented on #111
we can schedule this in at 5?

[2015-05-04 07:18] danalexilewis commented on #110
7.45 today

[2015-05-04 07:19] danalexilewis commented on #108
hey there sorry we didnt make this happen last week. Later this week you are going to be doing crud stuff from the database - i think we should get a coach in for this as the challenge is much the same

[2015-05-04 07:27] #107 closed, assigned to danalexilewis

[2015-05-04 07:28] danalexilewis opened #112 "P3 angular breakout - Whos keen"

[2015-05-04 07:28] pietgeursen commented on #112
I'm keen

[2015-05-04 07:28] #106 closed, assigned to danalexilewis

[2015-05-04 07:29] pietgeursen commented on #104
keenbeanz

[2015-05-04 07:31] danalexilewis commented on #109
finding a coach

[2015-05-04 07:32] bas-ie commented on #112
I'd be keen to at least sit in, my ng is fairly entry-level ;)

[2015-05-04 08:36] danalexilewis commented on #104
Wow such interest! this will probably happen later this week.

[2015-05-04 08:38] HarrietM commented on #112
Keen
On 4/05/2015 7:28 PM, "Daniel Lewis" notifications@github.com wrote:

[2015-05-04 08:39] danalexilewis commented on #109
amelia will be in thursday

[2015-05-04 08:45] kirstylm commented on #112
I'd be keen to sit in too :)

[2015-05-04 08:48] kirstylm commented on #109
I would love to sit in if that would be okay.

[2015-05-04 08:57] geordidearns commented on #109
no worries @kirstylm, I will be wanting to take it reasonably slow though as i want to really understand the concepts. hence why solo/small group comment above. Amelia has work so will try schedule for sometime after 6pm.

[2015-05-04 09:01] kirstylm commented on #109
@geordidearns totally understand, thank you :)

[2015-05-04 09:56] geordidearns commented on #112
super keen for this!

[2015-05-05 06:59] iainkirkpatrick commented on #112
yep if intermediate kids are allowed

[2015-05-05 20:13] libbyschuknight opened #113 "Nested Arrays 2 For Conversion And Seeding"
for this
Release 1 : Convert nested array to hash / dictionary
think I am on right track but can't figure out how to modify original array so can then convert to hash using Hash. Want help with modifying nested array

[2015-05-05 22:38] bas-ie opened #114 "ViewModel breakout"
A number of people in phase 2 were puzzled by viewmodels yesterday, be good to go over them.

[2015-05-05 23:12] cjsamodiaz commented on #111
Dan can we re-sched on thursday?

[2015-05-06 08:17] #110 closed, assigned to danalexilewis

[2015-05-06 08:18] danalexilewis commented on #111
sure. say 6.30 tommorrow

[2015-05-06 08:19] danalexilewis commented on #114
@eedrah can you do this in the morning.

[2015-05-06 08:23] #108 closed, assigned to danalexilewis

[2015-05-06 08:25] danalexilewis commented on #112
Update: touching base with Jess in the Alumni community and she looks good to come in next week. Fingers crossed. Will firm up in the next day or two

[2015-05-06 21:08] eedrah commented on #114
Sure

On 6 May 2015 at 20:20, Daniel Lewis notifications@github.com wrote:

[2015-05-07 03:25] #114 closed, assigned to eedrah

[2015-05-07 03:26] #113 closed, assigned to kerwinkerwin

[2015-05-07 03:27] danalexilewis commented on #112
Wendsday 13th @ 6-7

[2015-05-07 03:29] danalexilewis opened #115 "Node.js with Amelia - whos keen?"

[2015-05-07 03:30] JessJK commented on #112
Hey

If people could give me an idea of what they want to know then I can direct the breakout into specifics or broad overview.

[2015-05-07 03:31] amelialaundy commented on #115
everybody

[2015-05-08 03:54] desnor commented on #115
keen!

[2015-05-08 05:02] HarrietM commented on #115
Also v keen
On 8/05/2015 3:54 PM, "Alex Revell" notifications@github.com wrote:

[2015-05-08 07:49] matthewbullock opened #116 "Coaching Session Please"

[2015-05-08 09:40] Deepikajovy commented on #115
when? where?

[2015-05-08 10:23] amelialaundy commented on #115
eda 6pm thurs :) @Deepikajovy

[2015-05-08 10:23] amelialaundy commented on #115
@Deepikajovy

[2015-05-08 20:26] iainkirkpatrick commented on #115
yep!

[2015-05-08 22:56] bas-ie commented on #115
Keen :)

[2015-05-10 00:43] kylesnowschwartz opened #117 "coaching requested for Sudoku part 2"

[2015-05-10 00:44] lukekavanagh commented on #115
Yerp keen!

Sent from Yahoo Mail on Android

From:"Rich Churcher" notifications@github.com
Date:Sat, 9 May, 2015 at 10:56
Subject:Re: [coaching] Node.js with Amelia - whos keen? (#115)

Keen :)

—
Reply to this email directly or view it on GitHub.￼

[2015-05-10 01:19] danalexilewis commented on #116
Hi Matthew - i will see about organising this to happen this week - what specifically do you want to work on.

[2015-05-10 01:19] #109 closed, assigned to amelialaundy

[2015-05-10 01:27] danalexilewis commented on #104
Ok update: This coming week we have 2 seminars on angular and node. the following week is SEO and it is final project week for hihi. So I am planning  to find someone to come and give a seminar the following week. ie 3 weeks from now...

However. This is quite far away so i will run a smaller and shorter breakout on tuesday @ 5 after standup.

[2015-05-10 01:27] danalexilewis commented on #111
im closing this. got in touch when your feeling better

[2015-05-10 01:28] #111 closed, assigned to danalexilewis

[2015-05-10 01:30] danalexilewis commented on #79
longest ticket ever. note i have assigned the ticket to you @amelialaundy so whenever your feeling up to it you can run the seminar for yourself ;) plus anyone else who feels like attending.

[2015-05-10 01:31] danalexilewis commented on #117
Hi Kyle. would you like to have a breakout on sodoku tomorrow. call it Sudoku retro?

[2015-05-10 01:42] kylesnowschwartz commented on #117
Sure! sounds good.

[2015-05-10 20:41] matthewbullock commented on #116
Thankyou!!I never really got around to working on the race car challenge. So I would like to go through that challenge and just get ideas on how you would approach these sort of challenges. Also i would just like some further clarification on creating new instances of objects and properties? Cheers

[2015-05-10 21:06] joshuavial opened #118 "capybara for kotare"

[2015-05-11 00:53] TomPedersen opened #119 "Coaching - Database/Entity Framework"
In general, though if it helps with my personal project, all the better.

[2015-05-11 07:40] geordidearns commented on #115
yaaaaas

[2015-05-11 07:40] data-doge commented on #118
requested by pete -- other rubyists ambivalent

[2015-05-11 07:41] geordidearns commented on #112
I wouldn't mind an overview from the beginning to know how it all works. I have basic syntactic exposure. Not sure about everyone else.

[2015-05-12 03:29] TomPedersen commented on #119
Sam to join

[2015-05-12 08:26] eedrah commented on #119
Done

[2015-05-12 08:27] eedrah commented on #119
Did this from GitHub - not sure if I screwed up the Waffle

[2015-05-12 09:07] peterjacobson commented on #118
Maybe just a bit of a debugging session would do the trick, I'm just a bit blocked on it atm...

[2015-05-12 11:34] #119 closed, assigned to eedrah

[2015-05-14 05:39] libbyschuknight opened #120 "Would like breakout (?) on ARGV for ruby"
other rubyists in roa may like to join

[2015-05-14 05:43] libbyschuknight opened #121 "Break out for self, public/private"
most rubyists keen for break out on self use in classes, public & private interfaces/methods/variables etc

[2015-05-14 10:14] peterjacobson opened #122 "Javascript OO design for testing, and when to abstract to helpers?"
A deep dive into OO design best practice in JS. Also how does this relate to testing best practice - finding most methods dependent on DOM (perhaps it is bordering on a view-model?). Can we test them? if so how?

Perhaps a code review of our code below?
https://gist.github.com/peterjacobson/b0326b929bd84ac030f4

This is a block for TDD in our group JS project, if we could do this tomorrow morning

[2015-05-14 10:51] peterjacobson commented on #122
Also, would be keen for this to be a small interactive session!

[2015-05-14 19:39] lukekavanagh opened #123 "[Breakout] Controller Testing - C# - Who's keen?"
Wouldn't mind a little coaching as only wrote one test in the personal project and testing is defo a weak point. Think Olivia could be keen on this breakout too.

[2015-05-14 19:43] lukekavanagh opened #124 "[Breakout] Postman Chrome App - whos keen"
Wouldn't mind a walk through how to use the Postman Chrome App as Dan showed me it last night, would like to learn more about it.

[2015-05-14 20:59] #112 closed, assigned to JessJK

[2015-05-14 21:54] michael-smith-nz commented on #123
Sounds like this is a breakout for general testing with C#? Jesse will sort out a time

[2015-05-14 22:10] eedrah commented on #79
I'll take this one - it's a musical note lying a chromatic semitone above C and a diatonic semitone below D. It's around about 277.18 Hz. You  can here it by pasting this into PowerShell: [console]::beep(277.18, 1000)

[2015-05-14 22:50] amelialaundy commented on #79
ha mean love the note!

On 15 May 2015 at 10:10, eedrah notifications@github.com wrote:

[2015-05-14 23:46] #115 closed, assigned to amelialaundy

[2015-05-14 23:46] #116 closed, assigned to ryangibbs

[2015-05-15 07:55] data-doge commented on #120
does after afternoon lecture on monday work? shouldn't take more than 5-10 minutes.

[2015-05-15 08:22] libbyschuknight commented on #120
Hey hmmm yeah. Raquel is going to organise a break out on agile for Monday or Tuesday, so the day that that isn't on maybe?

Thanks

---

Libby Schumacher-Knight

[2015-05-15 13:24] danalexilewis commented on #124
adding in Iain and Esther

[2015-05-16 03:20] danalexilewis commented on #104
This will be covered at the tech talk on monday

[2015-05-16 04:44] OBaddeley opened #125 "personal project - javascript"
Long shot but wondering if anyone would be free tomorrow (Sunday) to look at this? Cheers

[2015-05-17 20:14] TomPedersen opened #126 "Ajax - Useful, or communist plot?"
Personal coaching request

[2015-05-17 21:59] iainkirkpatrick opened #127 "series of small OOJS questions"
@peterjacobson and I have come across a few small blocks as we work on a project that we would like some clarification on...
- where to put helper functions / objects? best practice for referencing them (holding them on a model as a property etc?)
- opinions around 'messages' between objects - which object should own the method for communication between two objects? i.e. should the method be on th

[2015-05-18 00:19] data-doge commented on #125
does another time work for you?

[2015-05-18 00:20] data-doge commented on #127
what time works for yall?

[2015-05-18 01:49] michael-smith-nz commented on #126
I'm happy to walk you through what it is, when and when not to use Ajax in the real world. Would that help? Or are you wanting a one-on-one coding session?

[2015-05-18 01:59] danalexilewis commented on #124
looking to this tomorrow. Tuesday

[2015-05-18 02:21] TomPedersen commented on #126
Your offer would be valuable, though a one-on-one coding session would be appreciated as well as it would help more directly with personal shortcomings.

[2015-05-18 02:22] OBaddeley commented on #125
Hi, tonight? or Tuesday lunch?

[2015-05-18 03:44] samragriff opened #128 "Hacker News"
Go through hacker news with a coach so i can attempt client side P.P with confidence. Apparently they're similar so should help me a lot.

[2015-05-18 06:48] data-doge commented on #125
either works, I'm here til 8 tonight, otherwise, 1:00 tomorrow?

[2015-05-18 07:28] michael-smith-nz commented on #128
Tomorrow Lunch we can quickly go through the fundamentals?

[2015-05-18 07:30] michael-smith-nz commented on #128
Tomorrow lunch it is

[2015-05-18 20:17] lukekavanagh opened #129 "Ajax Requests"
General overview - post requests in particular, I can never seem to get them working, ha.

[2015-05-19 00:37] OBaddeley commented on #129
I would be keen for this also, if you don't mind me joining?

[2015-05-19 00:45] lukekavanagh commented on #129
Don't mind at all :-)

[2015-05-19 03:22] #104 closed, assigned to danalexilewis

[2015-05-19 03:59] data-doge commented on #121
hey joshua, could you do a quick breakout with the phase 1 rubyists tomorrow morning after lecture? I covered 'self' today, and functionally how 'private' works,  but I wasn't entirely clear on the value of public/private methods -- when and why to use them, etc.

[2015-05-19 04:20] #122 closed, assigned to data-doge

[2015-05-19 04:20] #127 closed, assigned to data-doge

[2015-05-19 04:22] data-doge commented on #129
i'm free to do this anyday between 5pm and 8pm -- what works for y'all?

[2015-05-19 21:36] #128 closed, assigned to nobody

[2015-05-19 21:37] #117 closed, assigned to kerwinkerwin

[2015-05-19 21:38] #103 closed, assigned to raquelxmoss

[2015-05-20 07:00] kylesnowschwartz opened #130 "active record - many to many"
have schema for many to many, need to seed. cannot visualize what this is supposed to look like. how is this done?

[2015-05-20 09:35] libbyschuknight opened #131 "active record - one to many"
this isn't working for me and I would like some help please

[2015-05-21 09:36] #126 closed, assigned to danalexilewis

[2015-05-26 21:04] amelialaundy commented on #79
I think I figured it out

[2015-05-26 21:04] #79 closed, assigned to amelialaundy

[2015-05-28 02:28] peterjacobson opened #132 "Pete - pairing on JS Tests (even general pairing would be good, learn with me?)"

[2015-05-28 02:32] CraigKuriger opened #133 "Craig"

[2015-05-28 02:34] CraigKuriger opened #134 "Craig"
I need to arrange some pairing sessions with Ruby coaches whenever possible.

[2015-05-28 02:37] estherlg1 opened #135 "Esther - pairing"
Keen to grab a coach for a pairing session at some point please

[2015-05-28 02:38] CraigKuriger commented on #133
Delete this card and look at #134

[2015-05-28 22:25] peterjacobson commented on #132
would be super helpful. Even just another pair of eyes even, and someone to discuss & bounce ideas around with

[2015-05-31 07:54] libbyschuknight opened #136 "would like some guidance for personal project"
kind of stuck, would like to talk through with someone

[2015-05-31 10:15] amelialaundy opened #137 "Js coaching available :)"
Holla if anyone wants to do some javascripty goodness this coming week in the evenings

[2015-05-31 22:30] CraigKuriger commented on #137
@amelialaundy If you're going to be in here I could use some JS coaching, anytime would suit : )

[2015-05-31 22:46] CraigKuriger opened #138 "RSpec"
I need some tutor help with testing.

[2015-06-01 02:43] #124 closed, assigned to danalexilewis

[2015-06-02 06:17] ADukeLabs opened #139 "Alex: TDD, and Logins with ASP.Net"

[2015-06-03 03:55] #132 closed, assigned to nobody

[2015-06-03 03:56] peterjacobson opened #140 "Pete ReactJS pairing/discussion"

[2015-06-04 02:35] michael-smith-nz commented on #139
Friday lunch time OK Alex? Otherwise @donlewi might be able to help tonight?

[2015-06-08 12:49] #140 closed, assigned to nobody

[2015-06-08 12:50] peterjacobson opened #141 "Pete - image & audio upload handling, heroku & mongoDB/noSQL"

[2015-06-15 20:32] #123 closed, assigned to eedrah

[2015-06-15 20:33] #118 closed, assigned to data-doge

[2015-06-15 20:33] #136 closed, assigned to kerwinkerwin

[2015-06-15 20:33] #125 closed, assigned to data-doge

[2015-06-15 20:33] #120 closed, assigned to data-doge

[2015-06-15 20:33] #121 closed, assigned to joshuavial

[2015-06-15 20:33] #129 closed, assigned to data-doge

[2017-08-17 21:57] #137 closed, assigned to amelialaundy

[2017-08-17 23:49] Jayklutch commented on #137
Aaaaaaaaaaawwwwwwwwwwww

Best regards,
Jay Davis

Solutions Partner,
NZero Ltd
www.nzero.io
Cell: 0224558824

From: Amelia Laundy<mailto:notifications@github.com>
Sent: Friday, 18 August 2017 9:58 AM
To: enspiral-dev-academy/coaching<mailto:coaching@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Subject: Re: [enspiral-dev-academy/coaching] Js coaching available :) (#137)

[2017-11-12 21:46] juliangommans commented on #137
Is it too late to claim?